﻿@using Core.Models;
@using Portal_Delas.Models;
@using Core.Data;
@model EventInfo

@{

	ViewData["Title"] = "DetailsEvent";

}

<h2>Details</h2>
<div class="row">
	<div class="col-md-4">
		<dl>
			<dt>
				Id
			</dt>
			<dd>
				@Model.EventID
			</dd>
			<dt>
				Date
			</dt>
			<dd>
				@Model.EventDate
			</dd>
			<dt>
				Title
			</dt>
			<dd>
				@Model.EventTitle
			</dd>
			<dt>
				Description
			</dt>
			<dd>
				@Model.EventDescription
			</dd>
			<dt>
				Address
			</dt>
			<dd>
				@Model.EventAddress
			</dd>
			<dt>
				Type
			</dt>
			<dd>
				@Model.EventType
			</dd>
			<div class="form-group">
				<a asp-controller="EventInfo" asp-action="EditEvent" asp-route-id="@Model.EventID" class="btn btn-primary">Edit</a>
				 <a asp-controller="Home" asp-action="EventHistory" class="btn btn-secondary">Back to List</a>
				 <a asp-controller="EventInfo" asp-action="DeleteEvent" asp-route-id="@Model.EventID" class="btn btn-danger">Delete</a>
			</div>
		</dl>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}