@using Core.Models
@model List<EventInfo>

@{
    ViewData["Title"] = "Apply to an open position!";
}

<div class="text-center">
    <h5>Listed Events</h5>

    <form method="get" action="@Url.Action("ApplyEvent", "Home")">
        <label for="eventFilter">Filter by Event Type:</label>
        <select id="eventFilter" name="eventFilter">
            <option value="">All Event Types</option>
            @foreach (var eventType in Model.Select(item => item.EventType).Distinct())
            {
                <option value="@eventType">@eventType</option>
            }
        </select>
        <button type="submit">Apply Filter</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>Event title</th>
                <th>Event description</th>
                <th>Event address</th>
                <th>Post date</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <span>@item.EventTitle</span>
                    </td>
                    <td>
                        <span>@item.EventDescription</span>
                    </td>
                    <td>
                        <span>@item.EventAddress</span>
                    </td>
                    <td>
                        <span>@item.EventDate</span>
                    </td>
                    <td>
                        <span>@item.EventType</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <input type="button" value="Return" onclick="history.go(-1);return false;">
</div>
