@using Core.Models
@model List<JobEventUserInfoModel>

@{
	ViewData["Title"] = "Apply to an open position!";
}

<div class="text-center">
	<h5>Open Positions</h5>
	<table class="table">
		<thead>
			<tr>
				<th>Job title</th>
				<th>Company Name</th>
				<th>Job description</th>
				<th>Post date</th>
				<th>Category</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<span>@item.JobTitle</span>
					</td>
					<td>
						<span>@item.CompanyName</span>
					</td>
					<td>
						<span>@item.JobDescription</span>
					</td>
					<td>
						<span>@item.JobCreationDate</span>
					</td>
					<td>
						<span>@item.JobCategory</span>
					</td>
                    <form id="myForm">
                    <td>
                        <button type="button" onclick="printMessage()">Apply</button>
                    </td>
                    </form>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="mb-3">
    <input class="btn btn-primary" value="Return" onclick="history.go(-1);return false;">
</div>

@section scripts {
    <script>
        function printMessage() {
            alert('Applied successfully');
        }
    </script>
}