﻿@using Core.Models;
@using Portal_Delas.Models;
@using Core.Data;
@model JobInfo

@{

    ViewData["Title"] = "CreateJob";

}

<h2>Create a Job offer</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="JobInfo" asp-action="CreateJob">

            <div class="form-group">
                <label asp-for="@Model.JobTitle" class="control-label"></label>
                <input asp-for="@Model.JobTitle" class="form-control" />
                <span asp-validation-for="@Model.JobTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.JobDescription" class="control-label"></label>
                <input asp-for="@Model.JobDescription" class="form-control" />
                <span asp-validation-for="@Model.JobDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.JobAddress" class="control-label"></label>
                <input asp-for="@Model.JobAddress" class="form-control" />
                <span asp-validation-for="@Model.JobAddress" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <select asp-for="JobCategory" class="form-control" placeholder="Select one">
                    <option disabled selected>--- Select a Category ---</option>
                    <option>Information Technology</option>
                    <option>Engeneering</option>
                    <option>Human Resources</option>
                    <option>Finance</option>
                </select>
            </div>
            <div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
            </div>
            <div>
                <input type="button" value="Cancel" onclick="history.go(-1);return false;">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}