﻿@using Core.Models;
@using Portal_Delas.Models;
@using Core.Data;
@model EventInfo

@{

    ViewData["Title"] = "CreateEvent";

}

<h2>Create an Event</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="EventInfo" asp-action="CreateEvent">

            <div class="form-group">
                <label asp-for="@Model.EventTitle" class="control-label"></label>
                <input asp-for="@Model.EventTitle" class="form-control" />
                <span asp-validation-for="@Model.EventTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.EventDate" class="control-label"></label>
                <input asp-for="@Model.EventDate" class="form-control" />
                <span asp-validation-for="@Model.EventDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.EventDescription" class="control-label"></label>
                <input asp-for="@Model.EventDescription" class="form-control" />
                <span asp-validation-for="@Model.EventDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.EventAddress" class="control-label"></label>
                <input asp-for="@Model.EventAddress" class="form-control" />
                <span asp-validation-for="@Model.EventAddress" class="text-danger"></span>
            </div>


            <div class="form-floating mb-3">
                <select asp-for="EventType" class="form-control" placeholder="Select one">
                    <option disabled selected>--- Select a Category ---</option>
                    <option>General Meeting</option>
                    <option>Workshop</option>
                    <option>Others</option>
                </select>
            </div>
            <div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
            </div>
            <div>
                <input type="button" value="Cancel" onclick="history.go(-1);return false;">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}