@using Core.Models
@model List<JobInfo>

@{
	ViewData["Title"] = "PostHistory";
}

<div class="text-center">

	<h5>My Job offers</h5>

	<table class="table">
		<thead>
			<tr>
				<th>Job Title</th>
				<th>Creation Date</th>
				<th>Category</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						<span>@item.JobTitle</span>
					</td>
					<td>
						<span>@item.JobCreationDate</span>
					</td>
					<td>
						<span>@item.JobCategory</span>
					</td>
					<td class="actions">
						<a asp-controller="JobInfo" asp-action="EditJob" asp-route-id="@item.JobID" class="btn btn-primary">Edit</a>
						<a asp-controller="JobInfo" asp-action="DetailsJob" asp-route-id="@item.JobID" class="btn btn-primary">Details</a>
						<a asp-controller="JobInfo" asp-action="DeleteJob" asp-route-id="@item.JobID" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="mb-3">
	<input class="btn btn-primary" value="Return" onclick="history.go(-1);return false;">
</div>

<div class="mb-3">
	<a asp-controller="Home" asp-action="CreateJob" class="btn btn-primary">Create New Job</a>
</div>