﻿@using Core.Models;
@using Portal_Delas.Models;
@using Core.Data;
@model JobInfo

@{

	ViewData["Title"] = "Job Details";

}

<h2>Details</h2>
<div class="row">
	<div class="col-md-4">
		<dl>
			<dt>
				Id
			</dt>
			<dd>
				@Model.JobID
			</dd>
			<dt>
				Date
			</dt>
			<dd>
				@Model.JobCreationDate
			</dd>
			<dt>
				Title
			</dt>
			<dd>
				@Model.JobTitle
			</dd>
			<dt>
				Description
			</dt>
			<dd>
				@Model.JobDescription
			</dd>
			<dt>
				Address
			</dt>
			<dd>
				@Model.JobAddress
			</dd>
			<dt>
				Category
			</dt>
			<dd>
				@Model.JobCategory
			</dd>
			<div class="form-group">
				<a asp-controller="JobInfo" asp-action="EditJob" asp-route-id="@Model.JobID" class="btn btn-primary">Edit</a>
				 <a asp-controller="Home" asp-action="PostHistory" class="btn btn-secondary">Back to List</a>
				 <a asp-controller="JobInfo" asp-action="DeleteJob" asp-route-id="@Model.JobID" class="btn btn-danger">Delete</a>
			</div>
		</dl>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}