@using Core.Models;
@using Portal_Delas.Models;
@using Core.Data;
@using System.Linq;
@model List<JobInfo>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    ViewData["Title"] = "Details";

}

@if(Model != null)
{

     <div class="text-center">

        <p>
            <a asp-action="Create" class="btn btn-primary">Criar Nova Vaga</a>
        </p>



        <h5>Vagas</h5>

        <table class="table">
            <thead>
                <tr>
                    <th>Done</th>
                    <th>JobCreationDate</th>
                    <th>JobTitle</th>
                    <th>JobDescription</th>
                    <th>JobAddress</th>
                    <th>JobCategory</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" checked="@item.IsInativo" onclick="window.location.href='CheckTitle/@item.JobID'" />
                        </td>
                        <td>
                            <span>@item.JobCreationDate</span>
                        </td>
                        <td>
                            <span>@item.JobTitle</span>
                        </td>

                        @if (!item.IsInativo)
                        {
                            <td class="actions">
                                <a asp-action="Edit" asp-route-id="@item.JobID" class="btn btn btn-primary">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.JobID" class="btn btn btn-primary">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.JobID" class="btn btn-danger">Delete</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>


        @if (Model.Any(item => item.IsInativo))
        {
            <h5>Done</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Done</th>
                        <th>Finished Date</th>
                        <th>JobTitle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.IsInativo)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" checked="@item.IsInativo" onclick="window.location.href='CheckTitle/@item.JobID'" />

                                </td>
                                <td>
                                    <span>@item.JobCreationDate</span>
                                </td>
                                <td>
                                    <span>@item.JobTitle</span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        }

    </div> 
}
else
{
    <p>Sem conteudo</p>    
}